# Node
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# MongoDB data
data/mongo/*.lock
data/mongo/*.turtle
data/mongo/*.wt
data/mongo/*.wt*
data/mongo/WiredTiger*
data/mongo/_mdb_catalog.wt
data/mongo/journal
*.bson
diagnostic.data/

# MinIO internal system files
data/minio/.minio.sys/**

# Optional: specifically exclude .usage-cache and xl.meta if needed
data/minio/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
data/minio/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta.tmp
